.input-holder {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  background-color: var(--white);
  padding: 24px;
  border-radius: 10px;
  width: 100%;
}

.input-holder > input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}
