.testimonial-indicator-holder {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.testimonial-indicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--disabled-indicator);
}

.testimonial-indicator.active {
  background-color: var(--placeholder);
}

.testimonial-card-navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonial-card-navigation > button > svg,
.testimonial-card-navigation > button {
  height: 50px;
  width: 50px;
  fill: var(--primary-text);
  flex-shrink: 0;
}

.testimonial-card-navigation > button[disabled] > svg {
  fill: var(--disabled-indicator);
}

.testimonial-card-section {
  display: flex;
  align-items: center;
}

.testimonial-card-holder {
  flex-grow: 1;
  width: 100%;
}

.testimonial-card > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: -40px;
  transform: scale(0);
  transition: all 300ms ease-in-out;
  object-fit: cover;
}

.testimonial-content {
  display: flex;
  gap: 100px;
  flex-direction: column;
}

.testimonial-content > div {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.testimonial-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 2px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  transition: all 300ms ease-in-out;
  width: 90%;
  margin-left: 50px;
}

.testimonial-card.active {
  border: 2px solid transparent;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
    0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.testimonial-card.active > img {
  transform: scale(1);
}
.testimonial-card.active {
  transform: translate(0px, -80px);
  z-index: 5;
}

.testimonial-content > div > h2 {
  max-width: 500px;
}

.testimonial-card > .testimonial-body {
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.testimonial-card > * {
  color: var(--secondary-text);
}

@media only screen and (min-width: 1440px) {
  .testimonial-content > div {
    width: 50%;
  }

  .testimonial-content {
    flex-direction: row;
    gap: 16px;
  }

  .testimonial-card.active {
    transform: translate(-80px, -80px);
  }
}
